@import '~bootstrap/scss/bootstrap';

.small-container{
  width: 100%;
  max-width: 650px;
}

.large-container{
  width: 100%;
  max-width: 960px;
}

.center-block{
  margin:0 auto;
}
.padding{
  padding:10px 15px;
}
.margin-top{
  margin-top: 1.5em;
}

.field{
  @extend .margin-top;
  label{
      @extend .text-uppercase;
      @extend .text-secondary;

  }
  &:first-of-type{
      margin-top:0;
  }

  input[type='text'],
  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type="text-area"]{
      @extend .form-control;
      @extend .bg-light;
  }

  input[type='checkbox'] {
      @extend .form-check-input;
  }
}